.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.DisasterList {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.DisasterList table,
th,
td {
  border: 1px solid black;
}

.DisasterMap {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
  text-align: -webkit-center;
}

.Map {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.MapSearch {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ReadOpenAPI {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateOpenAPI {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

/* BookList Styles */
.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0, 0, 0.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3,
p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(14, 18, 32);
  color: black;
}
.NavbarItems > a {
  display: block;
  /* width: 1000px; */
}

.NavbarItems > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 15px;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.leaflet-container {
  width: 80%;
  height: 45rem;
  text-align: -webkit-center;
}

.hover-info {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20px;
  right: 50px;
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
  font: 13px/1 sans-serif;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
}


.info {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: right;
  top: 20px;
  right: 50px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font: 13px/1 sans-serif;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.8);
}
.info strong {
  font-size: 14px;
  display: block;
  padding-bottom: 5px;
}
.info span {
  text-align: right;
}

.css-2b097c-container {
  width: 20rem;
  color: black;
  position: relative;
  z-index: 2000;
  align-items: center;
}

#query {
  height: 300px;
}

.button {
  display:block;
  padding:0.7em 2em;
  border: 0.1em solid #FFFFFF;
  margin: (0, 0.3em, 0.3em, 0);
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0);
  align-items: normal;
  inline-size: 30vw;
  text-size-adjust: auto;
}

button:hover{
  color:#000000;
  background-color:#FFFFFF;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

.districtName {
  background-color:rgba(0,0,0,0) !important ;
  border:rgba(0,0,0,0) !important;
  padding: 0 !important;
  color: white !important;
  font-size: 8px !important;
  box-shadow: none !important;
}

.legend {
  position: absolute;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(255,255,255, 0.3);
  font: 13px/1 sans-serif;
  background: rgba(0,0,0,0.8);
}
.legend > div {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 5px;
  color: #fff;
}
.legend > div::before {
  content: "";
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: var(--color);
}